#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #fff;
    max-width: calc(1200px - 6rem);
    width: 100%;
    top: 0;
    height: 3rem;
    padding: 1rem 3rem;
}

.navbar-link {
    margin-right: 1rem;
    color: black;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

.navbar-link:hover {
    color: rgb(241, 187, 24);
    transition: 0.3s ease-in-out;
}